@font-face {
  font-family: 'Shnobel';
  src: url("../fonts/Shnobel-Regular.otf");
  font-weight: 400;
}

body {
  background-color: #10132F;
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 18px;
}

* {
  color: #FFFFFF;
  font-family: 'Bellota Text', cursive;
}

* li {
  list-style-type: none;
}

* a {
  text-decoration: none;
}

.blinking {
  -webkit-animation-name: blinking;
          animation-name: blinking;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 100;
          animation-iteration-count: 100;
}

@-webkit-keyframes blinking {
  50% {
    border-color: linear-gradient(90deg, #10132f 0%, #2f80ec 50%, #191b2d 100%);
  }
}

@keyframes blinking {
  50% {
    border-color: linear-gradient(90deg, #10132f 0%, #2f80ec 50%, #191b2d 100%);
  }
}

.header {
  margin: 3rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80.75rem;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.header__nav__items {
  width: 32.438rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__log_in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.header__log_in__btn {
  border: none;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 15px;
}

.header__sign_in {
  border: 2px solid #2F80EC;
  border-radius: 8px;
  background-color: transparent;
  color: #FFFFFF;
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 15px;
  padding: 0.875rem 1.56rem;
}

.tracker__desc1 {
  font-family: 'Shnobel', sans-serif;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.tracker__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 80.75rem;
  background-image: url("../assets/parents.png");
  background-repeat: no-repeat;
  background-position: bottom -5.125rem right -4.555rem;
}

.tracker__text {
  margin-top: 14rem;
  width: 37.5rem;
  -ms-flex-preferred-size: 37rem;
      flex-basis: 37rem;
  margin-bottom: 17.5rem;
}

.tracker__title {
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 47px;
  margin-top: 0;
}

.tracker__to_know {
  margin-top: 1rem;
  padding: 1.1rem 3.5rem;
  background-color: #2F80EC;
  color: #FFFFFF;
  border-radius: 0.5rem;
}

.normalize__container {
  padding: .5rem;
}

.normalize__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

.normalize__picturePart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 2rem;
  padding-left: 3rem;
}

.normalize__picDescription {
  padding-left: .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.normalize__uptitle {
  font-family: 'Shnobel', sans-serif;
  font-size: 1.4rem;
}

.normalize__title {
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  font-size: 47px;
  margin-top: 0;
}

.normalize__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}

.normalize__cardInnerContainer {
  padding: .7rem;
  margin: .9rem;
  height: 100%;
  background-color: #191B2D;
  border: 2px solid #2F80EC;
  border-radius: 6px;
}

.normalize__cardInnerContainer--last {
  position: relative;
}

.normalize__card {
  -webkit-box-flex: 30%;
      -ms-flex: 30% 1 1;
          flex: 30% 1 1;
}

.arrowDown {
  position: absolute;
  right: 5%;
  top: 45%;
}

.registration-form__container {
  background-color: #10132F;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  width: 40rem;
}

.registration-form__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.registration-form__up-comment {
  font-family: 'Shnobel', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.registration-form__title {
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
}

.registration-form__low-comment {
  font-family: 'Bellota Text', cursive;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  font-size: 18px;
}

.registration-form__photo {
  display: none;
}

.registration-form__photo-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.registration-form__img-background-container {
  background-image: url("../assets/stars.png");
  background-repeat: no-repeat;
  width: 30rem;
  background-position: 10px 10px;
}

.registration-form__data-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */